<div class="container mt-5">
    <div class="row">
        <div class="col-12">
            <h1>Contact</h1>
            <p>Voici les informations concernant le projet</p>
            <div class="card">
                <div class="card-header">
                    <h3>Équipe du projet (Master SIGLIS)</h3>
                </div>
                <div class="card-body">
                    <ul>
                        <li><strong>Cédric Etchepare</strong> - <a
                                href="mailto:etchepar001&#64;etud.univ-pau.fr">cetchepar001&#64;etud.univ-pau.fr</a></li>
                        <li><strong>Samuel Hentrics</strong> - <a
                                href="mailto:shloistine&#64;etud.univ-pau.fr">shloistine&#64;etud.univ-pau.fr</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>